:root {
    --dark-red-bg: #851d1d;
    --purple-1: #8d58c4;
    --purple-bg: #234234;
    color:white;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    background-image: url("/src/images/camille-couvez-H5PnIYI_1I0-unsplash.jpg");
    height: 100vh;
    display: flex;
    width: 100vw;
}
#left-side {
    width:clamp(30%,60%,70% );
}

#right-side {
    color: black;
    background-color: aliceblue;
    padding-left: 3rem;
    width: 100%;
    --padding-title: 4rem;
    --padding-submit-container: 4rem;
}

#title-container {
    padding: var(--padding-title) 0;
    background-color: whitesmoke;
}

#submit-container {
    padding: var(--padding-submit-container) 0;
}

