@font-face {
    font-family: "Josefin Sans";
    src: url("/src/fonts/JosefinSans-VariableFont_wght.ttf");
}
/*First make it fit to 868 width*/
:root {
    --dark-red-bg: #851d1d;
    --purple-1: #8d58c4;
    --purple-bg: #234234;
    --left-side-width: clamp(20%,60%,70%);
    color:white;
    font-family: "Josefin Sans", sans-serif;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    background-image: url("/src/images/camille-couvez-H5PnIYI_1I0-unsplash.jpg");
    height: 100vh;
    display: flex;
    width: 100vw;
}
/*LEft side that needs to vanish by the time the screen reaches 600px*/
#left-side {
    width:var(--left-side-width) ;
    color: white;
}

header {
    position: relative;
    background-color: #851d1d;
    height: 3rem;
    text-align: center;
    line-height: 3rem;
    top: calc(100vh - 60%);
}
/*I do not get why this doesn't go down. I CAN'T believe I had to use JS for this.*/
footer {
    text-align: center;
    position: absolute;
}

/*Right side with the form*/
#right-side {
    font-size: 2rem;
    color: black;
    background-color: #fbfbfb;
}


#title-container {
    padding-top: 6rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 0.5rem;
}
caption {
    padding-bottom: 0.2rem;
}
label {
    display: inline;
}
input{
    display:inline-block;
    height: 4rem;
    font-size: 2rem;
}

form {
    width:100%;
    background-color: #ffffff;
    box-shadow:0px 8px 15px 2px rgba(0,0,0,0.5);
    padding-left: 3rem;
    padding-bottom: 1rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
}
form > div {
    padding: 0.5rem 0;
    display: flex;
    flex-direction: column;
}

.form-container {
    display: flex;
    gap: 3rem;

}
#submit-container {
    padding-top:1rem;
    padding-left: 3rem;
    background-color: #fbfbfb;
    padding-bottom: 0.5rem;
}
button{
    font-size: 1.5rem;
    background-color: var(--purple-1);
    color: white;
    padding: 0.9rem 2rem;
    border-radius: 2rem;
}

button:hover {
    background-color: var(--purple-bg);

}
#submit-container>p {
    padding-top: 1rem;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    color: #8d58c4;
}

a:active {
    color: #851d1d;
}

@media (max-width: 425px) {
    #left-side {
        display: none;
    }

    #title-container {
        padding-bottom: 2rem;
    }

    form {
        padding-top: 1rem;
        padding-right: 2rem;
        padding-bottom: 1rem;
    }
    /*In HTML elements this tells me it is a "#text", WHY?! it is a caption! 
      And it doesn't work either way -_-*/
    /*#text {
        padding-bottom: 5rem;
    }*/
    form > div:first-child {
        padding-top: 1rem;
    }
    label {
        padding: 1rem 0;
    }
    #submit-container {
        padding-top: 1rem;
    }
}
/*Left side is available*/
@media (max-width: 768px) {
    /*Left side*/

    #left-side {
        display: none;
    }

    /*right side*/
    #title-container {
        padding-bottom: 2rem;
    }

    form {
        padding-top: 1rem;
        padding-right: 2rem;
        padding-bottom: 1rem;
    }
    /*In HTML elements this tells me it is a "#text", WHY?! it is a caption! 
      And it doesn't work either way -_-*/
    /*#text {
        padding-bottom: 5rem;
    }*/
    form > div:first-child {
        padding-top: 1rem;
    }
    label {
        padding: 1rem 0;
    }
    #submit-container {
        padding-top: 1rem;
    }
}



@media (max-width: 1000px){
    
    header {
        height: 25%;
        top: 75%
    }
    header > p {
        position: relative;
        top: 20%;
        font-size: 2rem;
    }


    #title-container {
        padding-bottom: 1rem;
    }

    form {
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-right: 2rem;
    }
    #submit-container {
        padding-top: 1rem;
    }

} 